<html>
    <style>
    h1 {
        font-size: 52px;
    }
    body {
        text-align: center;
        background-color: lightblue;
        width: 100%;
        position: relative;
    }
    button {
        color: black;
        width: 90%;
        height: 15%;
        font-size: 32px;
    }
    img {
        padding-bottom: 10px;
    }
    </style>
    <title> CornCake </title>
        <h1>Welcome to CornCake</h1>
            <body>
                <img src='/static/logo.jpeg' alt="logo" width="204" height="204">
                <form method="GET">
                    <input type="hidden" name="set">
                    <button type="submit">Set new word</button>
                </form>
                <form method="GET">
                    <input type="hidden" name="get_sound">
                    <button type="submit">Get Sound</button>
                </form>
                <form method="GET">
                    <input type="hidden" name="translate">
                    <button type="submit">Translate</button>
                </form>
                <audio controls src="/static/translation.mp3">
                </audio>
            </body>
</html>